* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 30px;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.img img{
    width: 350px;
    height: 350px;
    border: 1px solid #c9c9c9;
    border-radius: 10px 10px 0 0;
    box-shadow: -1px 0 12px 5px rgba(0, 0, 0, .25);
}
.input .btn {
    top: -5px;
    width: 350px;
    cursor: pointer;
    position: relative;
    padding: 11px 16px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 0 0 10px 10px;
    color: #fff;
    text-transform: uppercase;
    background-image: radial-gradient(circle at center center, rgb(80, 32, 84),rgb(62, 35, 81),rgb(44, 38, 79),rgb(26, 40, 76),rgb(8, 43, 73));
    border: 0;
    overflow: hidden;
    box-shadow: 0 4px 12px 5px rgba(0, 0, 0, .25);
}
.input .btn i {
    padding-right: 12px;
}
.input .btn input[type="file"] {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(5) translateX(-30px);
    opacity: 0;
    
}

